<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
  <div class="modal-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!-- <h4 class="modal-title" style="margin-left:176px;">{{modalTitle}}</h4> -->
    <button type="button" style="margin-left: 449px;" class="close" aria-label="Close" (click)="onClickOk();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <!-- start div for vendorcode textbox if vendorcode isn't equal to blanck -->
    <!-- <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="vendorCode!=''">
      <label>Vendor Code</label>
      <input type="text" class="form-control" [value]="vendorCode" readonly="readonly" />
    </div> -->
    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <label class="hideextra">Vendor Code:&nbsp;&nbsp;
          <b>{{vendorCode}}</b>
        </label>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <label class="hideextra">PO No:&nbsp;&nbsp;
            <b>{{poNo}}</b>
          </label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngIf="poType === 'FO'" hidden>
            <label class="hideextra">Head Name:&nbsp;&nbsp;
              <b>{{headName}}</b>
            </label>
          </div>
    </div>
    <!-- end div for vendorcode no textbox -->

    <!--start search div -->
    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="input-group" style="width:100%;">
              &nbsp;
          </div>
      </div>
      <div [formGroup]="searchFormGroup" class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float: right;">
          <input type="search" class="form-control search-input" style="margin-left: -14px;" formControlName="gridSearch" placeholder="Search">
          <span class="input-group-addon" style="margin-right: -12px;">
              <i class="fa fa-search"></i>
          </span>
      </div>
  <!-- </div> -->
  <!-- end of search div -->

    <!-- start table div -->
    <div style="width: 436px;height: 300px;overflow: auto;">
      <table class="table-style">
        <thead>
          <tr class="th-style">
            <td class="header-style-first">
                <input type="checkbox" (click)="selectAllCheck()"  [checked]="checkAll"  />
            </td>
            <td class="header-style hideextra">
              {{itemsHeader?.lineItemNo}}
            </td>
            <td class="header-style hideextra" *ngIf="poType === 'FO'">
                {{itemsHeader?.headName}}
            </td>
            <td class="header-style hideextra">
                {{itemsHeader?.itemNo}}
            </td>
            <td class="header-style hideextra">
              {{itemsHeader?.itemCode}}
            </td>
            <td class="header-style hideextra">
              {{itemsHeader?.itemName}}
            </td>
            <td class="header-style hideextra">
              {{itemsHeader?.hsnCode}}
            </td>
            <td class="header-style hideextra">
              {{itemsHeader?.netPrice}}
            </td>
            <td class="header-style hideextra" *ngIf="poType === 'NB'">
              {{itemsHeader?.orderQty}}
            </td>
            <td class="header-style hideextra" *ngIf="poType === 'FO'">
                {{itemsHeader?.netAmount}}
            </td>
            <td class="header-style hideextra">
              {{itemsHeader?.orderValue}}
            </td>
            <td class="header-style hideextra">
              {{itemsHeader?.poCurrency}}
            </td>
            <!-- <td class="header-style">
                {{itemsHeader?.poDate}}
            </td>
            <td class="header-style">
                {{itemsHeader?.poNumber}}
            </td> -->
            <td class="header-style-last hideextra">
              {{itemsHeader?.poUnit}}
            </td>
            <!-- <td class="header-style">
                {{itemsHeader?.vendorCode}}
            </td>
            <td class="header-style">
                {{itemsHeader?.vendorName}}
            </td> -->
          </tr>
        </thead>
        <tbody>
          <tr class="tr-style" *ngFor="let i of itemDetails | isplSearch: searchFormGroup.value.gridSearch : itemsHeader;

                let odd = odd; let even = even;" [ngClass]="{even: even, odd: odd }">
            <td class="td-style-first">
              <input type="checkbox" [checked]=i.uiCheckItmFlag (click)="onCheckboxClick(i)" />
            </td>
            <td class="td-style hideextra">
              {{i?.lineItemNo}}
            </td>
            <td class="td-style hideextra"  *ngIf="poType === 'FO'">
                {{i?.headName}}
            </td>
            <td class="td-style hideextra">
                {{i?.itemNo}}
            </td>
            <td class="td-style hideextra">
              {{i?.itemCode}}
            </td>
            <td class="td-style hideextra">
              {{i?.itemName}}
            </td>
            <td class="td-style hideextra">
              {{i?.hsnCode}}
            </td>
            <td class="td-style hideextra">
              {{i?.netPrice}}
            </td>
            <td class="td-style hideextra" *ngIf="poType === 'NB'">
              {{i?.orderQty}}
            </td>
            <td class="td-style hideextra" *ngIf="poType === 'FO'">
                {{i?.netAmount}}
              </td>
            <td class="td-style hideextra">
              {{i?.orderValue}}
            </td>
            <td class="td-style hideextra">
              {{i?.poCurrency}}
            </td>
            <td class="td-style-last hideextra">
              {{i?.poUnit}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--end table div-->
  </div>
  <div class="modal-footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button type="button" class="btn btn-secondary" (click)="chooseItem();">Ok</button>
  </div>
</div>