<div class="page-container">
  <div>
    <ol class="breadcrumb breadcrumb-custom">
      <li class="breadcrumb-item">
        <a href="#/home">
          <i class="fa fa-home"></i> Home </a>
      </li>
      <li class="breadcrumb-item active">{{title}}</li>
    </ol>
  </div>
  <div class="title-style">
    <h1 class="title-style">{{title}}</h1>
  </div>

  <!--start div for invoice add -->
  <div>

    <!-- start div for container -->
    <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:100%;">

      <!--start form-->
      <form [formGroup]="invoiceAddEditFormGroup" autocomplete="off" (ngSubmit)="invoiceAddSubmit()">
        <!--start div for custom-form-->
        <div class="row custom-form">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 card card-1" style="padding-top: 10px;" *ngIf="vendorBoolean === true && code != ''">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="float:left;">
              <label class="hideextra">Vendor GSTIN No:&nbsp;&nbsp;
                <b>{{vendorGstInNo}}</b>&nbsp;
                <!-- <span (click)="onVendorCodeChange()">
                      <i class="fa fa-pencil" title="Change Vendor Code" style="font-size: 18px; cursor:pointer;color:#285cf0"></i>
                    </span> -->
              </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="float: right;">
              <label class="hideextra">Vendor Code:&nbsp;&nbsp;
                <b>{{code}}</b>&nbsp;
                <span (click)="onVendorCodeChange()" *ngIf="userType === 'E'">
                  <i class="fa fa-pencil" title="Change Vendor Code" style="font-size: 18px; cursor:pointer;color:#285cf0"></i>
                </span>
              </label>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="float: right;">
              <label class="hideextra">Vendor Name:&nbsp;&nbsp;
                <b>{{vendorName}}</b>&nbsp;
                <span (click)="onVendorCodeChange()" *ngIf="userType === 'E'">
                  <i class="fa fa-pencil" title="Change Vendor Code" style="font-size: 18px; cursor:pointer;color:#285cf0"></i>
                </span>
              </label>
            </div>
          </div>
          <!-- start div for Official Document No-->
          <div [hidden]="vendorBoolean" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 card card-1" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="vendorBoolean === false">
              <label for="invoiceNo">Search Vender Code</label>
              <div class="input-group input-group-sm search-div" style="float: left;">
                <input type="text" class="form-control" #vendorCode placeholder="Enter Your Vendor Code" style="font-size:16px" (keyup)="onVenderCodeKeyUp(vendorCode.value);" />
                <span class="input-group-btn">
                  <button class="btn btn-primary search-button" type="button" (click)="onVenderCodeSearch(vendorCode.value);">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
              <div style="display: inline-block;">
                <span *ngIf="vendorCodeError" style="color: #cc100c">
                  <i class="fa fa-exclamation-circle"></i> {{vendorCodeErrorDesc}}
                </span>
              </div>
            </div>
          </div>
          <!--end div for Official Document No-->

          <!-- start of ng-container to show/hide all field according to vendor code  -->
          <fieldset [disabled]="vendorBoolean === false && code === ''" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 card card-1"
            style="padding-top: 10px;">

            <!-- <div [hidden]="vendorBoolean === false && code === ''"> -->
            <!-- start div for file upload -->
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="invoiceFilesArr.length === 0">
              <div class="form-group col-xs-12 col-sm-8 col-md-8 col-lg-6" style="display: inline-block;padding-left: 0px;">
                <label class="font-style" for="imageFile">Credit Note Upload</label>
                <label class="red-coloured-label font-style">(max size 10 mb)</label>
                <input type="file" #invoiceDoc (change)="fileChange($event,'CR_NOTE')" accept=".pdf,.png,.jpg,.jpeg,.bmp" />
              </div>
              <div style="display: inline-block;padding-left:0px;" class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                <button class="btn btn-success" style="cursor:pointer;" [disabled]="!invoiceDoc.value || invoiceFileErrFlag" (click)="resetFileInput('CR_NOTE');">Upload</button>
              </div>
            </div>
            <!-- end of div for file upload -->

            <!-- error msg div for file format -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="invoiceFileErrFlag">
              <div class="alert alert-danger">
                {{fileErrMsg}}
                <!-- &nbsp;
              <button aria-label="Close" class="close" type="button" (click)="deleteResErrorMsgOnClick()">
                <span aria-hidden="true">×</span>
              </button> -->
              </div>
              <br/>
              <br/>
            </div>
            <!-- end of error msg div for file format -->

            <!-- invoice file error msg div -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="invoiceFileSubmitError">
              <div class="alert alert-danger">
                {{invoiceFileSubmitErrorMsg}} &nbsp;
                <button aria-label="Close" class="close" type="button" (click)="deleteResErrorMsgOnClick('invoice')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            </div>
            <!-- end of invoice file error msg div -->


            <!--start div for show files-->
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="invoiceFilesArr.length!=0">
              <label>Uploaded Credit Note</label>
              <br/>
              <ng-container *ngFor="let invFile of invoiceFilesArr">
                <a href="{{invFile.fileUrl}}" style="float:left" target="_blank">{{invFile.fileName}}</a>&nbsp;&nbsp;
                <span style="float:left" class="close" aria-hidden="true" (click)="deleteFiles('CR_NOTE',invFile.fileName);">&nbsp;×</span>
                <br/>
              </ng-container>
            </div>
            <!--end div for show files-->
          </fieldset>
          <!-- end of ng-container to show/hide all field according to vendor code  -->

          <!-- start ng-container to show/hide the other field according to invoice file  -->
          <fieldset [disabled]="invoiceFilesArr.length===0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 card card-1" style="padding-top: 10px;">

            <!--start div for PoNo-->
            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3" style="display:inline-block;">
              <label class="font-style" for="poNoLabel">P.O. No</label>
              <select class="custom-select col-xs-12 col-sm-6 col-md-4 col-lg-3" formControlName="poNo" (change)="onChangePONo($event.target.value);"
                required>
                <option *ngFor="let poNo of poNoDropDownVal" value="{{ poNo.key }}">{{ poNo.value }}
                </option>
              </select>
              <!--start div for P.O. No required alert-->
              <span *ngIf="invoiceAddEditFormGroup.get('poNo').hasError('required') && invoiceAddEditFormGroup.get('poNo').touched" style="color: #cc100c">
                <i class="fa fa-exclamation-circle"></i> P.O. No is required!
              </span>
              <!--end div for P.O. No required alert-->
            </div>
            <!--end of div PoNo-->

            <!--start div for PoNo-->
            <fieldset class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3" style="display:inline-block;" [disabled]="!selectedPONo">
              <label class="font-style">Invoice No</label>
              <select class="custom-select col-xs-12 col-sm-6 col-md-4 col-lg-3" formControlName="invoiceNo" (change)="onChangeInvoiceNo($event,$event.target.value);"
                required>
                <option *ngFor="let invNo of invoiceNoDropDownVal" value="{{ invNo.value }}">{{ invNo.key }}
                </option>
              </select>
              <!--start div for Invoice No required alert-->
              <span *ngIf="invoiceAddEditFormGroup.get('invoiceNo').hasError('required') && invoiceAddEditFormGroup.get('invoiceNo').touched" style="color: #cc100c">
                <i class="fa fa-exclamation-circle"></i> Invoice No is required!
              </span>
              <!--end div for Invoice No required alert-->
            </fieldset>
            <!--end of div PoNo-->

            <!--start div Head Name-->
            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3" style="display:inline-block;" *ngIf="poType === 'FO'" hidden>
              <label class="font-style">Head Name</label>
              <input type="text" class="form-control" [value]="headName" formControlName="headName" readonly>
            </div>
            <!--end of div Head Name-->


            <!--start div invoice no-->
            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3" style="display:inline-block;">
              <label class="font-style">Credit Note No</label>
              <input type="text" class="form-control" [maxlength]="creditNoteLength" formControlName="creditNoteNumber" required>
              <!--start div for Credit Note No required alert-->
              <span *ngIf="invoiceAddEditFormGroup.get('creditNoteNumber').hasError('required') && invoiceAddEditFormGroup.get('creditNoteNumber').touched" style="color: #cc100c"> 
                <i class="fa fa-exclamation-circle"></i> Credit Note No is required!
              </span>
              <!--end div for Credit Note No required alert-->
            </div>
            <!--end of div invoice no-->

            <!-- start div for P.O. Date-->
            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3" style="display:inline-block;">
              <label class="font-style">P.O. Date</label>
              <input type="date" [value]="poDate" class="form-control date-picker-height" readonly/>
            </div>
            <!--end div for P.O. Date -->

            <!-- start div for P.O. Date-->
            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3" style="display:inline-block;">
              <label class="font-style">Invoice Date</label>
              <input type="date" [value]="invoiceDate" class="form-control date-picker-height" readonly/>
            </div>
            <!--end div for P.O. Date -->

            <!-- start div for Invoice Date-->
            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3" style="display:inline-block;">
              <label class="font-style">Credit Note Date</label>
              <input type="date" class="form-control date-picker-height" formControlName="creditNoteDate" required/>
              <!--start div for  Credit Note Date required alert-->
              <span *ngIf="invoiceAddEditFormGroup.get('creditNoteDate').hasError('required') && invoiceAddEditFormGroup.get('creditNoteDate').touched" style="color: #cc100c">
                <i class="fa fa-exclamation-circle"></i> Credit Note Date is required!
              </span>
              <!--end div for  Credit Note Date required alert-->

              <!--start div for Credit Note Date Less Than Invoice date  alert-->
              <div *ngIf="creditNoteDateError" style="color: #cc100c">
                <i class="fa fa-exclamation-circle"></i> {{creditNoteDateErrorDesc}}
              </div>
              <!--end div for Credit Note Date Less Than Invoice date alert-->
            </div>
            <!--end div for Invoice Date -->

            <!-- start div for Total Invoice Amount-->
            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3" style="display:inline-block;">
              <label class="font-style">Total Credit Note Amount</label>
              <input type="text" class="form-control number-align-style" [value]="totalInvoiceAmount" formControlName="creditNoteAmount"
                readonly/>
            </div>
            <!--end div for Total Invoice Amount -->

            <!-- start div for Total CGST Amount-->
            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3" style="display:inline-block;">
              <label class="font-style">Total CGST Amount</label>
              <input type="text" class="form-control number-align-style" [value]="totalCgstAmount" readonly/>
            </div>
            <!--end div for Total CGST Amount -->

            <!-- start div for SGST-->
            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3" style="display:inline-block;">
              <label class="font-style">Total SGST Amount</label>
              <input type="text" class="form-control number-align-style" [value]="totalSgstAmount" readonly/>
            </div>
            <!--end div for SGST -->

            <!-- start div for IGST-->
            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3" style="display:inline-block;">
              <label class="font-style">Total IGST Amount</label>
              <input type="text" class="form-control number-align-style" [value]="totalIgstAmount" formControlName="totalIgst" readonly/>
            </div>
            <!--end div for IGST-->

            <!-- start div for complaintQty error -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <ng-container *ngIf="poType === 'NB'">
                <ng-container *ngFor=" let chckedItmErr of checkedItemArr">
                  <div class="alert alert-danger" *ngIf="chckedItmErr.uiInpErrFlag && chckedItmErr.uiInpErrDesc">
                    Item code:
                    <b>{{ chckedItmErr.itemCode }}</b>, error: {{ chckedItmErr.uiInpErrDesc }}
                  </div>
                  <div class="alert alert-danger" *ngIf="chckedItmErr.uiTaxtRateErrFlag && chckedItmErr.uiTaxtRateErrDesc">
                    Item code:
                    <b>{{ chckedItmErr.itemCode }}</b>, error: {{ chckedItmErr.uiTaxtRateErrDesc }}
                  </div>
                  <div class="alert alert-danger" *ngIf="chckedItmErr.uiItemNameErrFlag && chckedItmErr.uiItemNameErrDesc">
                    Item code:
                    <b>{{ chckedItmErr.itemCode }}</b>, error: {{ chckedItmErr.uiItemNameErrDesc }}
                  </div>
                  <div class="alert alert-danger" *ngIf="chckedItmErr.uiInpErrFlag && itemValueErrFlag && chckedItmErr.uiItmBalErrDesc">
                    Item code:
                    <b>{{ chckedItmErr.itemCode }}</b>, error: {{ chckedItmErr.uiItmBalErrDesc }}
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="poType === 'FO'">
                <ng-container *ngFor=" let chckedItmErr of checkedItemArr">
                  <div class="alert alert-danger" *ngIf="chckedItmErr.uiInpErrFlag && chckedItmErr.uiInpErrDesc">
                    Item Name:
                    <b>{{ chckedItmErr.itemName }}</b> Line Item No:
                    <b>{{ chckedItmErr.lineItemNo }}</b> Item No:
                    <b>{{ chckedItmErr.itemNo }}</b>, error: {{ chckedItmErr.uiInpErrDesc }}
                  </div>
                  <div class="alert alert-danger" *ngIf="chckedItmErr.uiInpErrFlag && itemValueError">
                    Line Item No:
                    <b>{{ chckedItmErr.lineItemNo }}</b> Item No:
                    <b>{{ chckedItmErr.itemNo }}</b>, error: {{ chckedItmErr.uiBalAmoutErrDesc }}
                  </div>
                  <div class="alert alert-danger" *ngIf="chckedItmErr.uiItemValueErrFlag && chckedItmErr.uiItemValueErrDesc">
                    Line Item No:
                    <b>{{ chckedItmErr.lineItemNo }}</b> Item No:
                    <b>{{ chckedItmErr.itemNo }}</b>, error: {{ chckedItmErr.uiItemValueErrDesc }}
                  </div>
                  <div class="alert alert-danger" *ngIf="chckedItmErr.uiTaxtRateErrFlag && chckedItmErr.uiTaxtRateErrDesc">
                    Item Name:
                    <b>{{ chckedItmErr.itemName }}</b> Line Item No:
                    <b>{{ chckedItmErr.lineItemNo }}</b> Item No:
                    <b>{{ chckedItmErr.itemNo }}</b>, error: {{ chckedItmErr.uiTaxtRateErrDesc }}
                  </div>
                  <div class="alert alert-danger" *ngIf="chckedItmErr.uiItemNameErrFlag && chckedItmErr.uiItemNameErrDesc">
                    Line Item No:
                    <b>{{ chckedItmErr.lineItemNo }}</b> Item No:
                    <b>{{ chckedItmErr.itemNo }}</b>, error: {{ chckedItmErr.uiItemNameErrDesc }}
                  </div>
                </ng-container>
              </ng-container>



              <!-- <div class="alert alert-danger" *ngIf="complaintQtyInMtrsError==true && selectedItemDetails.length!=0">
            Please enter complaint quantity.
          </div> -->

            </div>
            <!-- end div for complaint qty error -->

            <!-- start table div -->
            <div class="col-lg-12 col-md-12 col-xs-12" style="margin-bottom: 15px; margin-top: 5px;overflow: auto;width: auto;" *ngIf="invoiceNo">
              <table class="table-style">
                <thead>
                  <tr class="th-style">
                    <td class="header-style hideextra">
                      {{itemsHeader?.lineItemNo}}
                    </td>
                    <td class="header-style hideextra" *ngIf="poType === 'FO'">
                      {{itemsHeader?.headName}}
                    </td>
                    <td class="header-style hideextra">
                      {{itemsHeader?.itemNo}}
                    </td>
                    <td class="header-style hideextra">
                      {{itemsHeader?.itemCode}}
                    </td>

                    <td class="header-style hideextra" style="padding-top:9px;font-weight: 600;">
                      {{itemsHeader?.itemName}}
                      <label class="red-asterick">*</label>
                    </td>
                    <td class="header-style hideextra">
                      {{itemsHeader?.hsnCode}}
                    </td>
                    <td class="header-style hideextra">
                      {{itemsHeader?.packageNo}}
                    </td>
                    <td class="header-style hideextra">
                      {{itemsHeader?.orderQty}}
                    </td>
                    <td class="header-style hideextra">
                      {{itemsHeader?.balanceQty}}
                    </td>
                    <td class="header-style hideextra">
                      {{itemsHeader?.netAmount}}
                    </td>

                    <td class="header-style hideextra">
                      {{itemsHeader?.balanceAmount}}
                    </td>

                    <td class="header-style hideextra" style="padding-top:9px;font-weight: 600;" *ngIf="(poType === 'FO' && (poUnit != 'JOB' || (poUnit === 'JOB' && orderQty > 1 ))) || poType === 'NB'">
                      {{itemsHeader?.itemQuantity}}
                      <label class="red-asterick">*</label>
                    </td>

                    <td class="header-style hideextra" *ngIf="poType === 'FO' && poUnit === 'JOB' && orderQty === 1">
                      {{itemsHeader?.itemQuantity}}
                    </td>

                    <td class="header-style hideextra">
                      {{itemsHeader?.poUnit}}
                    </td>

                    <td class="header-style hideextra">
                      {{itemsHeader?.itemPrice}}
                    </td>

                    <td class="header-style hideextra" *ngIf="(poType === 'FO' && (poUnit != 'JOB' || (poUnit === 'JOB' && orderQty > 1 ))) || poType === 'NB'">
                      {{itemsHeader?.itemValue}}
                    </td>
                    <td class="header-style hideextra" style="padding-top:9px;font-weight: 600;" *ngIf="poType === 'FO' && poUnit === 'JOB' && orderQty === 1">
                      {{itemsHeader?.itemValue}}
                      <label class="red-asterick">*</label>
                    </td>
                    <td class="header-style hideextra" style="padding-top:9px;font-weight: 600;">
                      {{itemsHeader?.taxRate}}
                      <label class="red-asterick">*</label>
                    </td>

                    <td class="header-style hideextra">
                      {{itemsHeader?.itemCgst}}
                    </td>

                    <td class="header-style hideextra">
                      {{itemsHeader?.itemSgst}}
                    </td>

                    <td class="header-style hideextra">
                      {{itemsHeader?.itemIgst}}
                    </td>

                    <td class="header-style-last hideextra">
                      {{itemsHeader?.itemAmount}}
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="tr-style" *ngFor="let checkItm of checkedItemArr
                let odd = odd; let even = even;" [ngClass]="{even: even, odd: odd }">
                    <!-- | isplSearch: searchFormGroup.value.gridSearch : complaintDIViewDetails.header; -->
                    <td class="td-style-first hideextra">
                      <span aria-label="Close" class="remove-item" style="display: inline-block;" title="remove item" (click)="onCloseItem(checkItm)">
                        <span aria-hidden="true">×</span>
                      </span>&nbsp;&nbsp;
                      <span style="display: inline-block;">{{checkItm.lineItemNo}}</span>
                    </td>
                    <td class="td-style hideextra" *ngIf="poType === 'FO'">{{checkItm.headName}}</td>
                    <td class="td-style number-align-style">{{checkItm.itemNo}}</td>
                    <td class="td-style">{{checkItm.itemCode}}</td>
                    <td class="td-style">
                      <input type="text" style="width:300px;" formControlName="itemDesc" [maxlength]="itemNameLength" #itemName value="{{checkItm.itemName.trim()}}"
                        (keyup)="onItemNameKeyup(itemName.value,checkItm.itemCode,checkItm.lineItemNo,checkItm.itemNo)" />
                    </td>
                    <td class="td-style">{{checkItm.hsnCode}}</td>
                    <td class="td-style">{{checkItm.packageNo}}</td>
                    <td class="td-style number-align-style">{{checkItm.orderQty}}</td>
                    <td class="td-style number-align-style">{{checkItm.balanceQty}}</td>
                    <td class="td-style number-align-style">{{checkItm.netAmount}}</td>
                    <td class="td-style number-align-style">{{checkItm.balanceAmount}}</td>
                    <td class="td-style" *ngIf="(poType === 'FO' && (poUnit != 'JOB' || (poUnit === 'JOB' && orderQty > 1 ))) || poType === 'NB'">
                      <input type="number" class="number-align-style" style="width: 68px;" #itemQuantity value="{{checkItm.itemQuantity}}" (keyup)="onKeyupComplaintQty(itemQuantity.value,checkItm)"
                        (click)="onKeyupComplaintQty(itemQuantity.value,checkItm)" />
                    </td>
                    <td class="td-style number-align-style" *ngIf="poType === 'FO' && poUnit === 'JOB' && orderQty === 1">{{checkItm.orderQty}}</td>
                    <!-- <td class="td-style"><input type="number" style="width: 68px;" #balanceQty value="{{checkItm.balanceQty}}" (keyup)="onKeyupComplaintQty(balanceQty.value,checkItm.orderQty,checkItm.itemCode,checkItm.netPrice,checkItm.itemName,checkItm.lineItemNo,checkItm.itemNo)"/></td> -->
                    <td class="td-style number-align-style">{{checkItm.poUnit}}</td>
                    <td class="td-style number-align-style">{{checkItm.netPrice}}</td>
                    <td class="td-style number-align-style" *ngIf="(poType === 'FO' && (poUnit != 'JOB' || (poUnit === 'JOB' && orderQty > 1 ))) || poType === 'NB'">{{checkItm.itemValue}}</td>
                    <td class="td-style" *ngIf="poType === 'FO' && poUnit === 'JOB' && orderQty === 1">
                      <input type="number" class="number-align-style" style="width: 68px;" value="{{checkItm.itemValue}}" #itemValue (keyup)="onKeyupItemValue(itemValue.value,checkItm)"
                        (click)="onKeyupItemValue(itemValue.value,checkItm)" />
                    </td>
                    <td class="td-style" *ngIf="(poType === 'FO' && (poUnit != 'JOB' || (poUnit === 'JOB' && orderQty > 1 ))) || poType === 'NB'">
                      <input type="number" class="number-align-style" style="width: 68px;" value="{{checkItm.taxRate}}" #taxRate (keyup)="onKeyupToGenerateCgstIgstSgst(taxRate.value,checkItm.itemCode,checkItm.itemName,checkItm.lineItemNo,checkItm.itemNo)"
                        (click)="onKeyupToGenerateCgstIgstSgst(taxRate.value,checkItm.itemCode,checkItm.itemName,checkItm.lineItemNo,checkItm.itemNo)"
                      />
                    </td>
                    <td class="td-style" *ngIf="poType === 'FO' && poUnit === 'JOB' && orderQty === 1">
                      <input type="number" class="number-align-style" style="width: 68px;" value="{{checkItm.taxRate}}" #taxRate (keyup)="onKeyupToGenerateCgstIgstSgstForItemValue(taxRate.value,checkItm)"
                        (click)="onKeyupToGenerateCgstIgstSgstForItemValue(taxRate.value,checkItm)" readonly />
                    </td>
                    <td class="td-style">
                      {{checkItm.itemCgst}}
                    </td>
                    <td class="td-style">
                      {{checkItm.itemSgst}}
                    </td>
                    <td class="td-style number-align-style">{{checkItm.itemIgst}}</td>
                    <td class="td-style-last number-align-style">{{checkItm.itemAmount | number:'1.2-5'}}</td>
                  </tr>
                  <tr class="tr-style">
                    <td class="td-style-first hideextra">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Add Item(s)
                      <i style="font-size:16px;cursor: pointer;" title="Click here" class="fa fa-plus-circle" (click)="onAddItemOpenModal()"></i>
                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style" *ngIf="poType === 'FO'">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style" *ngIf="(poType === 'FO' && (poUnit != 'JOB' || (poUnit === 'JOB' && orderQty > 1 ))) || poType === 'NB'">

                    </td>
                    <td class="td-style" *ngIf="poType === 'FO' && poUnit === 'JOB' && orderQty === 1">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style">

                    </td>
                    <td class="td-style-last">

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- end of table div -->

            <!-- start div for other documents upload -->
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <label class="font-style">Other Documents Upload</label>
            </div>
            <div style="padding-left:0px;" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <!-- <div style="display: inline-block;" class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <label class="font-style">Description</label>
              <input type="text" #description class="form-control" />
            </div> -->
              <div style="display: inline-block;" class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <label>Description</label>
                <select #otherDocDesc class="custom-select col-xs-12 col-sm-6 col-md-4 col-lg-3" formControlName="otherDocDesc">
                  <option *ngFor="let desc of descDropDownVal" value="{{ desc.key }}">{{ desc.value }}
                  </option>
                </select>
              </div>
              <div style="display: inline-block;padding-left:0px;" class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <input type="file" #otherDocs (change)="fileChange($event,'otherDocs')" accept=".pdf,.png,.jpg,.jpeg,.bmp" />
              </div>
              <div style="display: inline-block;padding-left:0px;" class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                <button class="btn btn-success" style="cursor:pointer;" [disabled]="!(otherDocs.value && otherDocDesc.value) || otherDocFileErrFlag"
                  (click)="resetFileInput('others');">Upload</button>
              </div>
            </div>
            <!-- error msg div -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="otherDocFileErrFlag">
              <div class="alert alert-danger">
                {{fileErrMsg}}
                <!-- &nbsp;
                <button aria-label="Close" class="close" type="button" (click)="deleteResErrorMsgOnClick()">
                  <span aria-hidden="true">×</span>
                </button> -->
              </div>
              <br/>
              <br/>
            </div>
            <!-- end of error msg div -->
            <!-- error msg div -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="otherFileSubmitError">
              <div class="alert alert-danger">
                {{otherFileSubmitErrorMsg}} &nbsp;
                <button aria-label="Close" class="close" type="button" (click)="deleteResErrorMsgOnClick('other')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            </div>
            <!-- end of error msg div -->
            <!-- end div for other documents upload -->

            <!--start div for show files-->
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="otherFilesArr.length!=0">
              <label>Uploaded other document
                <ng-container *ngIf="otherFilesArr.length>1">(s)</ng-container>
              </label>
              <br/>
              <ng-container *ngFor="let othrFile of otherFilesArr">
                <span style="float:left">Description: {{othrFile.fileDescVal}} &nbsp;&nbsp;</span>
                <span style="float:left"> &nbsp;&nbsp; File: &nbsp; </span>
                <a href="{{othrFile.fileUrl}}" style="float:left" target="_blank"> {{othrFile.fileName}} </a>&nbsp;&nbsp;
                <span style="float:left" class="close" title="delete file" aria-hidden="true" (click)="deleteFiles('others',othrFile.fileName);">
                  &nbsp;×</span>
                <br/>
              </ng-container>
            </div>
            <!--end div for show files-->

          </fieldset>
          <!-- end of ng-container to show/hide the other field according to invoice file  -->

          <!-- </div> -->

          <!-- start div of error msg -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 card card-1" *ngIf="submitError">
            <div class="alert alert-danger" style="margin-top: 15px;">
              {{submitErrorMsg}} &nbsp;
              <button aria-label="Close" class="close" type="button" (click)="deleteResErrorMsgOnClick('submit')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
          </div>
          <!-- end div of error msg -->

          <!-- start div for Submit  and Cancel Button-->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- start div for Submit Button-->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 button-holder" style="display: inline-block;">
              <button type="submit" class="btn btn-primary primary-button-style" [disabled]="!(invoiceAddEditFormGroup.valid && checkedItemArr.length>0 && itemQtyCgstIgstError === false )">Submit
              </button>
            </div>
            <!-- end div for Submit Button-->

            <!-- start div for Cancel Button-->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 button-holder" style="display: inline-block;">
              <button type="submit" class="btn default-button-style" (click)="onCancel()">
                Cancel
              </button>
            </div>
            <!-- end div for Cancel Button-->

          </div>
          <!-- start div for Submit  and Cancel Button-->
          <!--end of button div -->
        </div>
        <!-- end of div for row-manage-profile-form-->
      </form>
      <!--end of form-->
    </div>
    <!--end of div for manage profile-->
  </div>
  <!--end of page-container-->

  <!--spinner-->
  <ispl-busy-spinner *ngIf="busySpinner.busy">
  </ispl-busy-spinner>