<div class="page-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#/home">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#/home/podetview">Purchase Order Report</a>
    </li>
    <li class="breadcrumb-item">
      <span class="custom-breadcrumb-link-style" (click)="onClickBreadcrumbLink()">Invoice Details</span>
    </li>
    <li class="breadcrumb-item active">Credit Note Details</li>
  </ol>

  <!-- Write Your Code -->
  <!-- start div for container -->
  <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:100%;">

    <!--start search div -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="input-group" style="width:100%;">
          &nbsp;
        </div>
      </div>
      <div [formGroup]="searchFormGroup" class="input-group col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float: right;">
        <input type="search" class="form-control search-input" formControlName="gridSearch" placeholder="Search">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
    <!-- end of search div -->


    <!--start div for row-->
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 15px;">

      <!--start div for faceted nav-->
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 faceted-nav" *ngIf="facetedDataDetails && facetedDataDetails.length > 0">
        <!--start div for status-->
        <ng-container *ngFor="let facetedheader of facetedDataDetails">
          <ng-container *ngIf="facetedheader.groupFacets.length > 0">
            <div class="row faceted-header" style="height:33px;">
              <span class="label-faceted-header">{{facetedheader.groupDisp}}</span>
            </div>
            <div *ngFor="let facetedData of facetedheader.groupFacets">
              <div style="padding: 5px;">
                <input type="checkbox" [checked]="facetedData.facetChecked" [disabled]="!facetedData.facetEnabled" (click)="onClickFilter(facetedheader.groupName,facetedData.facetName,facetedData.facetChecked)"
                />
                <span>
                  {{facetedData.facetName}}
                </span>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <!--end div for status-->
      </div>
      <!-- end div for faceted nav -->

      <!--start div for actn btn and table grid (col-md-10)-->
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

        <!--start div for row for actn btn n table grid-->
        <div class="row">

          <!--start div for showing faceted data-->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="facetedArray.length!=0">
            <div class="faceted-data-div" *ngFor="let fecetedNode of facetedArray" style="display:inline-block;margin: 4px;">
              {{fecetedNode.facetedData}}
            </div>
            <br/>
            <br/>
          </div>
          <!--end of div for showing faceted data-->

          <!--start div for showing table n po number -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 10px;">

            <!--start invoice number div-->
              <div class="row" style="padding-top: 15px;padding-bottom: 0px;padding-left: 15px;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <span class="hideextra">
                    <b>PO Number:</b>&nbsp;&nbsp; {{poNo}}&nbsp;
                  </span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <span class="hideextra">
                    <b>PO Date:</b>&nbsp;&nbsp; {{poDate|date: 'dd-MMM-yyyy'}}&nbsp;
                  </span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <span class="hideextra">
                    <b>Invoice Number:</b>&nbsp;&nbsp; {{invoiceNo}}&nbsp;
                  </span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <span class="hideextra">
                    <b>Invoice Date:</b>&nbsp;&nbsp; {{invoiceDate|date: 'dd-MMM-yyyy'}}&nbsp;
                  </span>
                </div>
              </div>
            <!--end of div for invoice number-->

            <!--start form for creditDetailsFormGroup-->
            <form [formGroup]="creditDetailsFormGroup" autocomplete="off">
              <!--start div of row-->
              <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;padding-top: 15px;padding-bottom: 0px;">
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <b>Credit Note Date</b>
                </div>
                <!--start div of fromDate-->
                <span style="display: inline-block; padding-top: 9px;">From Date </span>
                <div class="form-group col-xs-12 col-sm-5 col-md-4 col-lg-3" style="padding: 2px;display: inline-block;">
                  <input type="date" class="form-control" formControlName="fromDate" #fromDate (change)="compareTwoDates('fromDate',fromDate.value,toDate.value)"
                  />
                  <div class="alert alert-danger" *ngIf="fromDateErr">
                    <i class="fa fa-exclamation-circle"></i> From Date should be less than or equals to To Date!
                  </div>
                </div>
                <!--end div for fromDate-->
                <!--start div of toDate-->
                <span style="display: inline-block; padding-top: 9px;">To Date </span>
                <div class="form-group col-xs-12 col-sm-5 col-md-4 col-lg-3" style="padding: 2px;display: inline-block;">
                  <input type="date" class="form-control" formControlName="toDate" #toDate (change)="compareTwoDates('toDate',fromDate.value,toDate.value)"
                  />
                  <div class="alert alert-danger" *ngIf="toDateErr">
                    <i class="fa fa-exclamation-circle"></i> To Date should be greater than or equals to From Date!
                  </div>
                </div>
                <!--end div for toDate-->
                <!-- start div for switch button -->
                <div style="margin-top: 11px;cursor: pointer;display: inline-block;">
                  <!-- Small switch -->
                  <div class="form-group">
                    <span class="switch switch-sm">
                      <input type="checkbox" class="switch" id="switch-sm" (click)="onClickSwitchButton(switchCheckboxVal)">
                      <!-- [checked]="switchInputCheck" (change)="switchInputCheck = !switchInputCheck"
                        (click)="onClickDatesButton(fromDate.value,toDate.value,switchCheckboxVal)"> -->
                      <label style="padding-top: 4px;" for="switch-sm">
                        With
                        <ng-container *ngIf="!switchCheckboxVal">out </ng-container> date.
                      </label>
                    </span>
                  </div>
                </div>
                <!-- end of div for switch button -->
                <!-- start div for view Button-->
                <div class="button-holder" style="display: inline-block;padding-top: 10px;margin-left:50px;">
                  <button type="submit" class="btn btn-sm default-button-style" (click)="onClickDatesButton(fromDate.value,toDate.value,switchCheckboxVal)">
                    View
                  </button>
                </div>
                <!-- end div for view Button-->

                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <b>Credit Note Upload Date</b>
                </div>
                <!--start div of fromDate-->
                <span style="display: inline-block; padding-top: 9px;">From Date </span>
                <div class="form-group col-xs-12 col-sm-5 col-md-4 col-lg-3" style="padding: 2px;display: inline-block;">
                  <input type="date" class="form-control" formControlName="uploadfromDate" #uploadfromDate (change)="uploadcompareTwoDates('uploadfromDate',uploadfromDate.value,uploadtoDate.value)"
                  />
                  <div class="alert alert-danger" *ngIf="uploadfromDateErr">
                    <i class="fa fa-exclamation-circle"></i> From Date should be less than or equals to To Date!
                  </div>
                </div>
                <!--end div for fromDate-->
                <!--start div of toDate-->
                <span style="display: inline-block; padding-top: 9px;">To Date </span>
                <div class="form-group col-xs-12 col-sm-5 col-md-4 col-lg-3" style="padding: 2px;display: inline-block;">
                  <input type="date" class="form-control" formControlName="uploadtoDate" #uploadtoDate (change)="uploadcompareTwoDates('uploadtoDate',uploadfromDate.value,uploadtoDate.value)"
                  />
                  <div class="alert alert-danger" *ngIf="uploadtoDateErr">
                    <i class="fa fa-exclamation-circle"></i> To Date should be greater than or equals to From Date!
                  </div>
                </div>
                <!--end div for toDate-->
                <!-- start div for switch button -->
                <div style="margin-top: 11px;display:inline-block;">
                  <!-- Small switch -->
                  <div class="form-group">
                    <span class="switch switch-sm-upload">
                      <input type="checkbox" class="switch" style="cursor: pointer;" id="switch-sm-upload" (click)="onClickUploadSwitchButton(uploadswitchCheckboxVal)">
                      <label style="padding-top: 4px;" for="switch-sm-upload">
                        With
                        <ng-container *ngIf="!uploadswitchCheckboxVal">out date.</ng-container>
                      </label>
                    </span>
                  </div>
                </div>
                <!-- end of div for switch button -->
                <!-- start div for view Button-->
                <div class="button-holder" style="display: inline-block;padding-top: 10px;margin-left:50px;">
                  <button type="submit" class="btn btn-sm default-button-style" (click)="onClickuploadDatesButton(uploadfromDate.value,uploadtoDate.value,uploadswitchCheckboxVal)">
                    View
                  </button>
                </div>
                <!-- end div for view Button-->
              </div>
              <!-- end of div row -->
            </form>
            <!--end form for creditDetailsFormGroup-->

            <!-- start div to show report view date n time -->
            <div class="col-lg-12 col-md-12 col-xs-12" style="float:right">
              <span class="hideextra" style="float:right">
                <b>Report View Date:</b>&nbsp;&nbsp; {{creditNoteViewDetails.processStartDateTime}}&nbsp;
              </span>
            </div>
            <!-- end of div to show report view date n time -->

            <!-- start table div -->
            <div class="col-lg-12 col-md-12 col-xs-12" style="margin-bottom: 15px; margin-top: 5px;width: auto;
            overflow-x: scroll; overflow-y: hidden;">
              <table class="table-style" style="text-align: center;">
                <thead>
                  <tr class="th-style">
                    <!-- <td class="header-style-first">
                      <input type="checkbox" [checked]="checkAll" (click)="selectAllCheck()" />
                    </td> -->

                    <td class="header-style-first hideextra">
                      {{creditNotedetailsViewHeader?.drCrNoteStatusRowNo}}
                    </td>
                    <td class="header-style hideextra" (click)="onClick(creditNotedetailsViewHeader.drCrNoteStatusDesc)">
                      {{creditNotedetailsViewHeader?.drCrNoteStatusDesc}}
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.drCrNoteStatusDesc && sortSelection.orderType == 'ASC'"
                        class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.drCrNoteStatusDesc && sortSelection.orderType == 'DESC'"
                        class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == ''|| sortSelection.sortData != creditNotedetailsViewHeader?.drCrNoteStatusDesc" class="fa fa-sort"></i>
                    </td>

                    <td class="header-style hideextra" (click)="onClick(creditNotedetailsViewHeader.drCrNoteNumber)">
                      {{creditNotedetailsViewHeader?.drCrNoteNumber}}
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.drCrNoteNumber && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.drCrNoteNumber && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != creditNotedetailsViewHeader?.drCrNoteNumber" class="fa fa-sort"></i>
                    </td>

                    <td class="header-style hideextra" (click)="onClick(creditNotedetailsViewHeader.drCrNoteDate)">
                      {{creditNotedetailsViewHeader?.drCrNoteDate}}
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.drCrNoteDate && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.drCrNoteDate && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != creditNotedetailsViewHeader?.drCrNoteDate" class="fa fa-sort"></i>
                    </td>

                    <td class="header-style hideextra" (click)="onClick(creditNotedetailsViewHeader.drCrNoteAmount)">
                      {{creditNotedetailsViewHeader?.drCrNoteAmount}}
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.drCrNoteAmount && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.drCrNoteAmount && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != creditNotedetailsViewHeader?.drCrNoteAmount" class="fa fa-sort"></i>
                    </td>

                    <td class="header-style hideextra" (click)="onClick(creditNotedetailsViewHeader.drCrNoteMakerDateTime)">
                      {{creditNotedetailsViewHeader?.drCrNoteMakerDateTime}}
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.drCrNoteMakerDateTime && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.drCrNoteMakerDateTime && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != creditNotedetailsViewHeader?.drCrNoteMakerDateTime" class="fa fa-sort"></i>
                    </td>

                    <td class="header-style hideextra" (click)="onClick(creditNotedetailsViewHeader.scanId)">
                      {{creditNotedetailsViewHeader?.scanId}}
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.scanId && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.scanId && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != creditNotedetailsViewHeader?.scanId" class="fa fa-sort"></i>
                    </td>

                    <td class="header-style hideextra" (click)="onClick(creditNotedetailsViewHeader.scanDate)">
                      {{creditNotedetailsViewHeader?.scanDate}}
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.scanDate && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.scanDate && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != creditNotedetailsViewHeader?.scanDate" class="fa fa-sort"></i>
                    </td>

                    <td class="header-style hideextra" (click)="onClick(creditNotedetailsViewHeader.vendorName)">
                      {{creditNotedetailsViewHeader?.vendorName}}
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.vendorName && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.vendorName && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != creditNotedetailsViewHeader?.vendorName" class="fa fa-sort"></i>
                    </td>

                    <td class="header-style hideextra" (click)="onClick(creditNotedetailsViewHeader.totalCgst)">
                      {{creditNotedetailsViewHeader?.totalCgst}}
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.totalCgst && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.totalCgst && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != creditNotedetailsViewHeader?.totalCgst" class="fa fa-sort"></i>
                    </td>

                    <td class="header-style hideextra" (click)="onClick(creditNotedetailsViewHeader.totalSgst)">
                      {{creditNotedetailsViewHeader?.totalSgst}}
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.totalSgst && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.totalSgst && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != creditNotedetailsViewHeader?.totalSgst" class="fa fa-sort"></i>
                    </td>

                    <td class="header-style hideextra" (click)="onClick(creditNotedetailsViewHeader.totalIgst)">
                      {{creditNotedetailsViewHeader?.totalIgst}}
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.totalIgst && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == creditNotedetailsViewHeader?.totalIgst && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData == creditNotedetailsViewHeader?.totalIgst" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style-last hideextra">
                      {{creditNotedetailsViewHeader?.docName}}
                    </td>
                    <!-- <td class="header-style-last hideextra">
                      {{creditNotedetailsViewHeader?.totalCreditNote}}
                    </td> -->

                  </tr>
                </thead>
                <tbody>
                  <tr class="tr-style" *ngFor="let invoiceViewValue of creditNoteViewDetails.details
              | isplSearch: searchFormGroup.value.gridSearch : creditNotedetailsViewHeader;
              let odd = odd; let even = even;" [ngClass]="{even: even, odd: odd }">
                    <td class="td-style-first hideextra">
                      <ng-container *ngFor="let iconel of iconarr;let i = index;">
                        <ng-container *ngIf="(invoiceViewValue.drCrNoteStatus| slice:1) == 0 then thenBlockOfIcon; else elseBlockOfIcon">
                        </ng-container>
                        <ng-template #thenBlockOfIcon>
                          <!--purple shade:green ['#FFAA28' : '#99FF33']-->
                          <i class="fa fa-chevron-right" [style.color]="(i+1) > (invoiceViewValue.drCrNoteStatus| slice:0:1) ? '#7631B2' : '#2CFF2C'"></i>
                        </ng-template>
                        <ng-template #elseBlockOfIcon>
                          <!--red FF271F :green ['#FB231C' : '#99FF33']-->
                          <i class="fa fa-chevron-right" [style.color]="(i+1) > (invoiceViewValue.drCrNoteStatus| slice:0:1) ? '#FB231C' : '#2CFF2C'"></i>
                        </ng-template>
                      </ng-container>
                    </td>
                    <td class="td-style hideextra">{{invoiceViewValue.drCrNoteStatusDesc}}</td>
                    <td class="td-style hideextra">
                      <span class="custom-link" title="Click here" (click)="onClickTransactionNumber(invoiceViewValue.drCrNoteNumber,invoiceViewValue.poStatusDesc)">
                        {{invoiceViewValue.drCrNoteNumber}}
                      </span>
                    </td>
                    <td class="td-style hideextra">{{invoiceViewValue.drCrNoteDate|date: 'dd-MMM-yyyy'}}</td>
                    <td class="td-style hideextra">{{invoiceViewValue.drCrNoteAmount}}</td>
                    <td class="td-style hideextra">{{invoiceViewValue.drCrNoteMakerDateTime|date: 'dd-MMM-yyyy'}}</td>
                    <td class="td-style">{{invoiceViewValue.scanId}}</td>
                    <td class="td-style hideextra">{{invoiceViewValue.scanDate|date: 'dd-MMM-yyyy'}}</td>
                    <td class="td-style hideextra">{{invoiceViewValue.vendorName}}</td>
                    <td class="td-style hideextra">{{invoiceViewValue.totalCgst}}</td>
                    <td class="td-style hideextra">{{invoiceViewValue.totalSgst}}</td>
                    <td class="td-style hideextra">{{invoiceViewValue.totalIgst}}</td>

                    <ng-container *ngIf="invoiceViewValue.files.length===0 then thenBlock; else elseBlock"></ng-container>
                    <ng-template #thenBlock>
                      <td class="td-style-last"></td>
                    </ng-template>
                    <ng-template #elseBlock>
                      <td class="td-style-last hideextra">
                        <input id="{{invoiceViewValue.drCrNoteNumber}}" class="toggle input-checkbox" type="checkbox">
                        <label for="{{invoiceViewValue.drCrNoteNumber}}" style="cursor: pointer;">Files</label>
                        <div id="{{invoiceViewValue.drCrNoteNumber}}" class="expand">
                          <section style="text-align: left;">
                            <ng-container *ngFor="let file of invoiceViewValue.files">
                              <!-- <span class="custom-filedocId-color-style 'left'">{{file.docId}} )</span>
                              <span class='right'><a class="file-url" href="{{file.url}}" target="_blank">{{file.docDisplayName}}</a></span> -->
                              {{file.docId}} .
                              <a class="file-url" href="{{file.url}}" target="_blank"> {{file.docDisplayName}}</a>
                              <br/>
                            </ng-container>
                          </section>
                        </div>
                      </td>
                    </ng-template>
                    <!-- <ng-container *ngIf="invoiceViewValue.totalCreditNote > 0 then thenBlockOfTotalCreditNote; else elseBlockTotalCreditNote"></ng-container>
                    <ng-template #thenBlockOfTotalCreditNote>
                      <td class="td-style-last">
                        <span class="custom-link" title="Click here" (click)="onClickTotalCreditNoteNumber(invoiceViewValue.totalCreditNote,invoiceViewValue.invoiceNumber)">
                          {{invoiceViewValue.totalCreditNote}}
                        </span>
                      </td>
                    </ng-template>
                    <ng-template #elseBlockTotalCreditNote>
                      <td class="td-style-last hideextra">
                      </td>
                    </ng-template> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- end of table div -->

          </div>
          <!--end of div for showing table n po number-->

        </div>
        <!--end of div row for actn btn n table grid-->
        <!-- error msg div -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="errMsgShowFlag">
          <div class="alert alert-danger">
            {{errorMsg}}&nbsp;
            <button aria-label="Close" class="close" type="button" (click)="deleteResErrorMsgOnClick()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <br/>
          <br/>
        </div>
        <!-- end of error msg div -->
      </div>
      <!--end of div for actn btn n table(col-md-10)-->

    </div>
    <!--end of div row-->

  </div>
  <!-- end of div container -->
</div>
<!-- end of div page-container -->

<ispl-busy-spinner *ngIf="busySpinner.busy">
</ispl-busy-spinner>