<div class="page-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#/home">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#/home/podetview">Purchase Order</a>
    </li>
    <li class="breadcrumb-item">
      <span class="custom-breadcrumb-link-style" (click)="onClickBreadcrumbLink()">Invoice Details</span>
    </li>
    <li class="breadcrumb-item active">Item Details</li>
  </ol>

  <!-- Write Your Code -->
  <!-- start div for container -->
  <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:100%;">

    <!--start search div -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="input-group" style="width:100%;">
          &nbsp;
        </div>
      </div>
      <div [formGroup]="searchFormGroup" class="input-group col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float: right;">
        <input type="search" class="form-control search-input" formControlName="gridSearch" placeholder="Search">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
    <!-- end of search div -->


    <!--start div for row-->
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 15px;">

      <!--start div for faceted nav-->
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 faceted-nav" *ngIf="facetedDataDetails && facetedDataDetails.length > 0">

        <!--start div for status-->
        <ng-container *ngFor="let facetedheader of facetedDataDetails">
          <ng-container *ngIf="facetedheader.groupFacets.length > 0">
          <div class="row faceted-header" style="height:33px;">
            <span class="label-faceted-header">{{facetedheader.groupDisp}}</span>
          </div>
          <div *ngFor="let facetedData of facetedheader.groupFacets">
            <div style="padding: 5px;">
              <input type="checkbox" [checked]="facetedData.facetChecked" [disabled]="!facetedData.facetEnabled" (click)="onClickFilter(facetedheader.groupName,facetedData.facetName,facetedData.facetChecked)"
              />
              <span>
                {{facetedData.facetName}}
              </span>
            </div>
          </div>
          </ng-container>
        </ng-container>
        <!--end div for status-->
      </div>
      <!-- end div for faceted nav -->

      <!--start div for actn btn and table grid (col-md-10)-->
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

        <!--start div for row for actn btn n table grid-->
        <div class="row">

          <!--start div for showing faceted data-->

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="facetedArray.length!=0">
            <div class="faceted-data-div" *ngFor="let fecetedNode of facetedArray" style="display:inline-block;margin: 4px;">
              {{fecetedNode.facetedData}}
            </div>
            <br/>
            <br/>
          </div>

          <!--end of div for showing faceted data-->

          <!--start div for actn btn and faceted nav -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 10px;">

             <!--start invoice number div-->
             <div class="row" style="padding-top: 15px;padding-bottom: 0px;padding-left: 15px;">
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                 <span class="hideextra"><b>PO Number:</b>&nbsp;&nbsp;
                   {{poNo}}&nbsp;
                 </span>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                 <span class="hideextra"><b>PO Date:</b>&nbsp;&nbsp;
                   {{poDate|date: 'dd-MMM-yyyy'}}&nbsp;
                 </span>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                 <span class="hideextra"><b>Invoice Number:</b>&nbsp;&nbsp;
                   {{invoiceNo}}&nbsp;
                 </span>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                 <span class="hideextra"><b>Invoice Date:</b>&nbsp;&nbsp;
                   {{invoiceDate|date: 'dd-MMM-yyyy'}}&nbsp;
                 </span>
               </div>
            </div>
            <!--end of div for invoice number-->

             <!-- start div to show report view date n time -->
             <div class="col-lg-12 col-md-12 col-xs-12" style="float:right">
              <span class="hideextra" style="float:right"><b>Report View Date:</b>&nbsp;&nbsp;
                {{invoiceItemViewDetails.processStartDateTime}}&nbsp;
              </span>
            </div>
            <!-- end of div to show report view date n time -->

            <!-- start table div -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px; margin-top: 5px;width: auto;
            overflow-x: scroll; overflow-y: hidden;">
              <table class="table-style" style="text-align: center;">
                <thead>
                  <tr class="th-style">
                    <!-- <td class="header-style-first">
                      <input type="checkbox" [checked]="checkAll" (click)="selectAllCheck()" />
                    </td> -->
                    <td class="header-style-first hideextra" (click)="onClicktTableHeader(itemHeaderDetails.items.itemCode)">
                      {{itemHeaderDetails.items?.itemCode}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemCode && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemCode && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != itemHeaderDetails.items?.itemCode" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style hideextra" (click)="onClicktTableHeader(itemHeaderDetails.items.itemName)">
                      {{itemHeaderDetails.items?.itemName}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemName && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemName && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != itemHeaderDetails.items?.itemName" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style hideextra" (click)="onClicktTableHeader(itemHeaderDetails.items.itemDesc)">
                      {{itemHeaderDetails.items?.itemDesc}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemDesc && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemDesc && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != itemHeaderDetails.items?.itemDesc" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style hideextra" (click)="onClicktTableHeader(itemHeaderDetails.items.hsnCode)">
                      {{itemHeaderDetails.items?.hsnCode}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.hsnCode && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.hsnCode && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != itemHeaderDetails.items?.hsnCode" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style hideextra" (click)="onClicktTableHeader(itemHeaderDetails.items.poUnit)">
                      {{itemHeaderDetails.items?.poUnit}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.poUnit && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.poUnit && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != itemHeaderDetails.items?.poUnit" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style hideextra" (click)="onClicktTableHeader(itemHeaderDetails.items.itemPrice)">
                      {{itemHeaderDetails.items?.itemPrice}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemPrice && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemPrice && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != itemHeaderDetails.items?.itemPrice" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style hideextra" (click)="onClicktTableHeader(itemHeaderDetails.items.orderQuantity)">
                      {{itemHeaderDetails.items?.orderQuantity}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.orderQuantity && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.orderQuantity && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != itemHeaderDetails.items?.orderQuantity" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style hideextra" (click)="onClicktTableHeader(itemHeaderDetails.items.orderValue)">
                      {{itemHeaderDetails.items?.orderValue}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.orderValue && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.orderValue && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != itemHeaderDetails.items?.orderValue" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style hideextra" (click)="onClicktTableHeader(itemHeaderDetails.items.itemQuantity)">
                      {{itemHeaderDetails.items?.itemQuantity}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemQuantity && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemQuantity && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != itemHeaderDetails.items?.itemQuantity" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style hideextra" (click)="onClicktTableHeader(itemHeaderDetails.items.taxRate)">
                      {{itemHeaderDetails.items?.taxRate}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.taxRate && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.taxRate && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != itemHeaderDetails.items?.taxRate" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style hideextra" (click)="onClicktTableHeader(itemHeaderDetails.items.itemCgst)">
                      {{itemHeaderDetails.items?.itemCgst}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemCgst && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemCgst && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != itemHeaderDetails.items?.itemCgst" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style hideextra" (click)="onClicktTableHeader(itemHeaderDetails.items.itemSgst)">
                      {{itemHeaderDetails.items?.itemSgst}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemSgst && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemSgst && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != itemHeaderDetails.items?.itemSgst" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style hideextra" (click)="onClicktTableHeader(itemHeaderDetails.items.itemIgst)">
                      {{itemHeaderDetails.items?.itemIgst}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemIgst && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemIgst && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != itemHeaderDetails.items?.itemIgst" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style-last hideextra" (click)="onClicktTableHeader(itemHeaderDetails.items.itemAmount)">
                      {{itemHeaderDetails.items?.itemAmount}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemAmount && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails.items?.itemAmount && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.orderType == '' || sortSelection.sortData != itemHeaderDetails.items?.itemAmount" class="fa fa-sort"></i>
                    </td>

                    <!-- <td class="header-style-last" (click)="onClicktTableHeader(itemHeaderDetails.files)">
                      {{itemHeaderDetails?.files}}
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails?.files && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc">
                      </i>
                      <i *ngIf="sortSelection.sortData == itemHeaderDetails?.files && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc">
                      </i>
                      <i *ngIf="sortSelection.orderType == ''" class="fa fa-sort">
                      </i>
                    </td> -->
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let invoiceViewValue of invoiceItemViewDetails.details">
                    <tr class="tr-style" *ngFor="let itemValue of invoiceViewValue.items 
                    | isplSearch: searchFormGroup.value.gridSearch : itemHeaderDetails;
                    let odd = odd; let even = even;" [ngClass]="{even: even, odd: odd }">

                      <td class="td-style-first hideextra">
                        {{itemValue.itemCode}}
                      </td>
                      <td class="td-style hideextra">{{itemValue.itemName}}</td>
                      <td class="td-style hideextra">{{itemValue.itemDesc}}</td>
                      <td class="td-style hideextra">{{itemValue.hsnCode}}</td>
                      <td class="td-style hideextra">{{itemValue.poUnit}}</td>
                      <td class="td-style hideextra">{{itemValue.itemPrice}}</td>
                      <td class="td-style hideextra">{{itemValue.orderQuantity}}</td>
                      <td class="td-style hideextra">{{itemValue.orderValue}}</td>
                      <td class="td-style hideextra">{{itemValue.itemQuantity}}</td>
                      <td class="td-style hideextra">{{itemValue.taxRate}}</td>
                      <td class="td-style hideextra">{{itemValue.itemCgst}}</td>
                      <td class="td-style hideextra">{{itemValue.itemSgst}}</td>
                      <td class="td-style hideextra">{{itemValue.itemIgst}}</td>
                      <td class="td-style-last hideextra">{{itemValue.itemAmount}}</td>
                      
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <!-- end of table div -->

          </div>
          <!--end of div for actn btn n faceted nav-->

        </div>
        <!--end of div row for actn btn n table grid-->
        <!-- error msg div -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="errMsgShowFlag">
          <div class="alert alert-danger">
            {{errorMsg}}&nbsp;
            <button aria-label="Close" class="close" type="button" (click)="deleteResErrorMsgOnClick()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <br/>
          <br/>
        </div>
        <!-- end of error msg div -->
      </div>
      <!--end of div for actn btn n table(col-md-10)-->

    </div>
    <!--end of div row-->


  </div>
  <!-- end of div container -->
</div>
<!-- end of div page-container -->

<ispl-busy-spinner *ngIf="busySpinner.busy">
</ispl-busy-spinner>