<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="../../../../assets/images/tata_logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="TATA"> TATA Metaliks Ltd.
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left: 28px;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color : white;" href="#">Vendor Portal
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item dropdown nav-last-element">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-globe"></i> Language
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">English</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- <div class="bgimg"> -->

<!-- </div> -->

<header class="bg-image">
  <div class="container">
    <h1>Welcome</h1>
    <h2 style="display:inline;" class="custom-link" (click)="redirectToLogin('vendor');"> Vendor Login</h2> <h2 style="display:inline;"> | </h2> <h2 class="custom-link" style="display:inline;" (click)="redirectToLogin('employee');"> Employee Login </h2>
    <!-- <div style="margin-top:54px;"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="float:right">
      <div style="float:right">
        <label class="custom-link" title="click here" (click)="redirectToLogin();">Vendor Login</label>
      </div>
      <div style="float:right">
        <label class="custom-link" title="click here" (click)="redirectToLogin();">Employee Login</label>
      </div>
    </div> -->
    <!-- <a href="#" class="btn btn-transparent">Start Here.</a> -->
  </div>
</header>

<!-- <section class="">
  <div class="container">
    <div class="col-3 text--center">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/366117/8_copy_copy.jpg" alt="" class="details-img--ball" />
    </div>
    <div class="col-7 details">
      <h3>SAMPLE TEMPLATE</h3>
      <p>Simple Parallax Landing Page</p>
    </div>
  </div>
</section> -->

<!-- <section class="section--primary">
  <div class="container">
    <div class="col-3 features">
      <i class="fa fa-bolt"></i>
      <p>
        "Say cool stuff here"
      </p>
    </div>
    <div class="col-3 features">
      <i class="fa fa-bank"></i>
      <p>
        This is why it's great. Here's the one thing you should know about this product.
      </p>
    </div>
    <div class="col-3 features">
      <i class="fa fa-heart"></i>
      <p>
        Still curious? Find out more by clicking on the link.
      </p>
    </div>
  </div>
</section>

<section class="section--primary--alt">
  <div class="container">
    <h3>Remember this brand.</h3>
    <p>Use this template for business, portfolio, ecommerce, blogs.Simple setup, add content, link to more content -- modern
      and beautiful!</p>
  </div>
</section>

<section class="section--primary--light">
  <div class="container">
    <blockquote class="testimonial">
      <p>Slick parallax! Clean design that's easy to read! Gets your message across with no distractions. Love it!"</p>
      <cite>
        Satisfied Customer
      </cite>
    </blockquote>
  </div>
</section>


<section class="section--primary--alt bg-image bg-image-2">
  <div class="container text--center">
    <h3>Reasons to buy this product:</h3>
    <div class="col-5 text--left">
      <ul>
        <li>Its the best</li>
        <li>Its awesome</li>
        <li>It makes you happy</li>
        <li>It brings world peace</li>
        <li>Its free!</li>
      </ul>
    </div>
    <div class="col-5 text--left">
      <ul>
        <li>You're the best</li>
        <li>You're awesome</li>
        <li>You make you happy</li>
        <li> You bring world peace</li>
        <li>You like free!</li>
      </ul>
    </div>
  </div>
</section>

<section class="text--center">
  <div class="container">
    <h3>You know you like it.</h3>
    <a href="#" class="btn">Customize yours now!</a>
  </div>
</section>

<footer>
  <div class="container">
    <ul>
      <li>
        <a href="#">Weblinks</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <a href="#">Mainpage</a>
      </li>
    </ul>
    <p>&copy; 2016 CGP Designs. All rights reserved.</p>
  </div>
</footer> -->